@use "./MainStyle.scss";
@use "../../../styles/colors.scss";
.password-container {
  position: relative;
}
.show-button {
  position: absolute;
  top: 50%;
  right: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Avenir", sans-serif;
  letter-spacing: 1px;
  color: colors.$primary-colror;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
